<div id="tap_1" class="position-relative" >
  <div class="d-flex align-items-end" >
    <img id="size" src={{image.imgURL}} style="object-fit:fill">
    <div id="tapp" class="position-absolute" style="width:100%;background:linear-gradient(1turn,rgba(0,0,0,1),rgba(0,0,0,0))">
        <div class="d-flex align-items-center" >
          <div class="d-flex align-items-center" style="margin:auto;color:white"> 
              <i style="margin-right:5px" class="fas fa-thumbs-up"> </i> {{number}}
              <i style="margin-left:20px;margin-right:5px"class="far fa-comment"></i>{{count}}
          </div>
        </div>
    </div>
  </div>
</div>  